// Customize Bootstrap default variables, and define custom CSS classes.

// You must control-c and re-run 'npm start' to see changes to this file.

// Change variable values.
$dark: #198754;

// Import bootstrap
@import "bootstrap/scss/bootstrap";

// Define custom styles
.gray-background {
  background-color: $gray-200;
  padding-top: 10px;
  padding-bottom: 20px;
}
