/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
#root {  /* CAM: why do I need to use #root instead of :root? */
  --bs-dark: #198754;
  --bs-light-rgb: 223, 159, 51;
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}
